/*Container*/
.container {
	padding: 3% 15%;
	width: 100%;
}

.app-icon {
	width: 40%;
	border-radius: 20%;

}


.col-lg-4 {
	padding: 50px;
}

.app-icon-col {
	/*text-align: right;*/
}

.row {
	margin-top: 50px;
}


/*Navigation*/
.navbar {

}

.navbar-brand {
	font-size: 2rem;
	font-family: "Montserrat";
}

#title {
	background-color: #f8f9fa;
}

/*Footer*/
.card-footer {
	font-size: 0.75rem;
	padding: 1rem;
	margin-bottom: 0;
}