.app-icon {
	width: 40%;
	border-radius: 20%;

}

.container {
	width: 50%;

}

.col-lg-4 {
	padding: 50px;
}

.app-icon-col {
	/*text-align: right;*/
}

.row {
	margin-top: 50px;
}